# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
staticfiles/
media/

# Node
node_modules/

# Env
.env
.env.*

# macOS
.DS_Store

# Logs
*.log

# VSCode
.vscode/

# Postman
.postman/
postman/

# Personal notes (not for version control)
*.md
*.pdf
*.xlsx
*.xlsm
*.docx
image/